/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/.phpunit.result.cache
/.phpunit.cache
/.idea/
/.vscode/
/.fleet/
/.DS_Store
Thumbs.db
*.log
.env
.env.*
!.env.example
/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/bootstrap/cache/config.php
/coverage/
